/* Footer.css */
.footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 20px 0;
}

.footer .social-icons {
  margin-bottom: 20px;
}

.footer .social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer .social-icons a:hover {
  background: linear-gradient(
    to right,
    #f89100,
    #f7b910
  ); /* Gradient from left to right */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Fill the text with transparent to show the gradient */
}

.footer p {
  margin: 0;
  font-size: 14px;
}
