.project-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #000;
  border-radius: 28px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  height: auto;
  transition: transform 0.7s ease;
}

.project-details {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  height: 100%;
}

.project-details h2 {
  font-size: 1rem;
}

.project-details h3 {
  margin: 0 0 10px 0; /* Space between name and description */
  font-size: 1rem;
  color: white;
}

.project-details p {
  line-height: 1.5;
  margin: 5px 0;
  font-size: 0.9rem;
  color: #ccc;
}

.project-details a:hover {
  background: linear-gradient(to right, #f89100, #f7b910); /* Gradient from left to right */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Fill the text with transparent to show the gradient */
  font-weight: bold; /* Optional: make it bold to stand out more */
}

.project-card:hover {
  transform: scale(1.01); /* Slightly increases the size */
}

.view-all {
  margin: 40px 0;
}

@media only screen and (min-width: 700px) {
  .project-card {
    display: grid;
    grid-template-columns: 3fr 7fr; /* Image occupies a fixed width, content takes up the remaining space */
    gap: 20px;
    align-items: flex-start;
    height: 150px;
  }

  .project-details {
    padding-top: 0;
    padding: 0 20px;
    align-content: space-between;
  }

  .project-details h3 {
    font-size: 1.2rem;
  }

  .project-details h2 {
    font-size: 1.2rem;
  }
}
